:host {
  display: inline-block;
  width: fit-content;
}
.select-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #dadedf;
  border-radius: 2px;
  padding: 2px 10px;
  width: 300px;
  height: 34px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  transition: background-color 0.2s;
}

.checkbox {
  border: 1px solid #d4d5d8;
  border-radius: 2px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.checkbox-icon {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.button-text {
  user-select: none;
}
