<button class="btn" (click)="onButtonClick()">
  <span *ngIf="!data.isMenuOpen()">{{ buttonText$() }}</span>
  <span *ngIf="data.isMenuOpen() && data.isAllUnchecked()">Выбрать все</span>
  <span *ngIf="data.isMenuOpen() && !data.isAllUnchecked()">Убрать все</span>
</button>

@if (data.isMenuOpen()) {
  @for (item of data.funnelsState(); track item.key) {
    <p (click)="item.isOpen = !item.isOpen">{{ item.label }}</p>
    <ng-container *ngIf="item.isOpen">
      <app-list-of-stages
        [funnels]="item.state"
        [stateName]="item.key"
      />
    </ng-container>
  } @empty {
    <li>There are no items.</li>
  }
}

